<mat-toolbar class="mat-elevation-z3">
    <div>
        MySocialNetwork
    </div>
    <div>
        <button mat-icon-button [routerLink]="'chat'">
            <mat-icon aria-hidden="false" [matBadge]="qtdMensagem()" matBadgeColor="warn" fontSet="material-icons-outlined">
                chat
            </mat-icon>
        </button>
        <button mat-icon-button [routerLink]="'notificacoes'">
            <mat-icon aria-hidden="false" [matBadge]="qtdNotificacao()" matBadgeColor="warn" fontSet="material-icons-outlined">
                notifications
            </mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav opened mode="side">
        <app-sidebar />
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet />
        </div>
        <footer style="position: absolute; bottom: 0;">
            <span style="text-align: center; font-size: 10px;">&copy; 2024 - Todos direitos reservados</span>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>