<mat-toolbar class="mat-elevation-z3">
    <div>
        MySocialNetwork
    </div>
    <div>
        <a href="javascript:void(0)" [routerLink]="'chat'">
            <mat-icon aria-hidden="false" [matBadge]="qtdMensagem()" matBadgeColor="warn" fontSet="material-icons-outlined">
                chat
            </mat-icon>
        </a>
        <a href="javascript:void(0)" [routerLink]="'notificacoes'">
            <mat-icon aria-hidden="false" [matBadge]="qtdNotificacao()" matBadgeColor="warn" fontSet="material-icons-outlined">
                notifications
            </mat-icon>
        </a>
        <a href="javascript:void(0)">
            <img src="../../../assets/profile-photo.jpg">
        </a>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav opened mode="side">
        <app-sidebar />
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet />
        </div>
        <footer>
            <div>
                <span>&copy; {{year}} - Todos direitos reservados</span>
            </div>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>