mat-list {
    mat-list-item {
        width: 100% !important;
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            position: relative;
            color: #424662;
            width: 100%;
            .link-name {
                margin-left: 20px;
            }
        }
    }

    mat-list-item.active {
        background: #605DFF10;
    }

    mat-list-item:hover {
        a {
            color: #605dff;
        }

    }
}