<mat-list>
    @for (menu of menuList(); track menu.descricao) {
        <mat-list-item [routerLink]="menu.routerLink" routerLinkActive="active" #rla="routerLinkActive">
            <a>
                <mat-icon [fontSet]="'material-icons-outlined'">{{menu.icone}}</mat-icon>
                @if (!sidenavCollapsed) {
                    <span class="link-name">{{menu.descricao}}</span>
                }
            </a>
        </mat-list-item>
    }

    <mat-list-item>
        <a href="javascript:void(0)" (click)="abrirModalCriar()">
            <mat-icon [fontSet]="'material-icons-outlined'">add_box</mat-icon>
            @if (!sidenavCollapsed) {
                <span class="link-name">Criar</span>
            }
        </a>
    </mat-list-item>
</mat-list>
